 <div class="left-nav">
      <div id="side-nav">
        <ul id="nav">
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b8;</i>
                    <cite>商品管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{% url 'manage:manage_add_list' %}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>商品列表</cite>

                        </a>
                    </li >
                    <li>
                        <a _href="{% url 'manage:manage_add' %}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>商品添加</cite>

                        </a>
                    </li>
                                          <li>
                        <a _href="{% url 'manage:manage_leibie_list' %}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>商品类型</cite>

                        </a>
                    </li>
                      <li>
                        <a _href="{% url 'manage:manage_leibie' %}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>商品类型添加</cite>

                        </a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b8;</i>
                    <cite>订单管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{% url 'manage:manage_order_list' %}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>订单列表</cite>

                        </a>
                    </li >
                </ul>
            </li>
                        <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b8;</i>
                    <cite>会员管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{% url 'manage:manage_member_list' %}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>会员列表</cite>

                        </a>
                    </li >
                </ul>
            </li>
            {% if request.session.manage_user_id != 13 %}
            {% else %}
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b8;</i>
                    <cite>权限管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{% url 'manage:manage_power_list' %}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>权限列表</cite>

                        </a>
                    </li >
                    <li>
                        <a _href="{% url 'manage:manage_role_list' %}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>角色列表</cite>

                        </a>
                    </li >
                </ul>
            </li>
            {% endif %}
        </ul>
      </div>
    </div>