{% extends 'Reception/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
     <form class="navbar-form navbar-left" action="{% url 'goods:goods_search' %}" method="post">
         {% csrf_token %}
        <div class="form-group">
          <input type="text" class="form-control" placeholder="输入你要搜索的内容" name="text">
        </div>
        <button type="submit" class="btn btn-default">搜索</button>
      </form>
    </div>
    <div class="container">
    <h2>搜索结果</h2>
        <hr>
    </div>
    <div class="container zhong clear">
    {% for i in list %}
    <div>
        <div>
            <a href="{% url 'dtpage:dtpage' i.goods_id %}"><img src="{% static i.goods_pic %}" alt=""></a>
        </div>
        <p><a href="{% url 'dtpage:dtpage' i.goods_id %}">{{ i.goods_name }}</a></p>
        <p><del class="re_gd_pc">￥{{ i.goods_oprice }}元</del>&nbsp;&nbsp;<span>￥{{ i.goods_xprice }}元</span></p>
        {% for li in count %}
            {% if i.goods_id == li.goods_id %}
    <p class="gs_num">已有<span>{{ li.num }}</span>人购买</p>
            {% endif %}
            {% endfor %}
    </div>
        {% endfor %}
    </div>
{% endblock %}