{% extends 'Reception/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <form action="{% url 'order:order_dowm_user' %}" method="post">
    {% csrf_token %}
    <h2>
        填写并核对订单信息
    </h2>
    <hr>
    
    <span>收货信息</span><a href="{% url 'order:order_address' %}">新增收货地址</a>
{% for i in address %}
<div class="radio">
  <label>
    <input type="radio" name="address_id" id="optionsRadios1" value="{{ i.address_id }}" checked>
      姓名：<span>{{ i.address_username }}</span>
      电话：<span>{{ i.address_phone }}</span>
      地址：<sapn>{{ i.address_name }}</sapn>
  </label>
    {% empty %}
</div>
{% endfor %}
    <div class="container">
    <h2 >
        配送信息
    </h2>
    <hr>
        <table class="table">
    <tr class="or_table">
        <th>商品名称</th>
        <th>商品缩略图</th>
        <th>商品单价</th>
        <th>商品数量</th>
        <th>商品小计</th>
    </tr>
    <tr class="active or_table">
        <td>{{ goods.goods_name }}</td>
         <td><div class="or_td_img"><img src="{% static goods.goods_pic %}" alt=""></div></td>
         <td>￥{{ goods.goods_xprice }}元</td>
         <td>{{ num }}</td>
         <td>￥{{ sum }}元</td>
    </tr>
            <tr>
                <td colspan="5" rowspan="2" class="or_tdl"><a class="btn btn-success" href="{% url 'dtpage:dtpage' goods.goods_id %}" role="button">返回订单修改</a></td>
            </tr>
            <tr></tr>
            <tr ><td colspan="5" rowspan="2" class="or_tdl">总计：{{ sum }}元</td></tr>
            <tr></tr>
            <tr><td colspan="5" rowspan="2" class="or_tdl"><input type="submit" value="立刻下单" class="btn btn-danger"></td></tr>
            <tr></tr>
    </table>
    </div>
        <input type="hidden" value="{{ sum }}" name="sum">
    <input type="hidden" value="{{ goods.goods_id }}" name="goods_id">
        <input type="hidden" value="{{ goods.shop_id }}" name="shop_id">
     <input type="hidden" value="{{ num }}" name="num">
    </form>
{#    <script>#}
{#    $(function(){#}
{#        $('#or_return').click(function(){#}
{#            history.go(-3)#}
{#            console.log(123)#}
{#        })#}
{#    })#}
{#    </script>#}
</div>
{% endblock %}